{% extends "admin_base.njk" %}

{% block titulo %}Productos | Ficha{% endblock %}

{% block contenido %}
    
    <h1> Ficha del producto </h1>
    <div>
        {% if (producto.imagen) %}
            <p><img src="/public/uploads/{{ producto.imagen }}" width="30%" /></p>
        {% endif %}
        <p class="nombreProd"> {{ producto.nombre }}</p>
        <p class="descripcion">{{ producto.descripcion }}</p>           
        <p class="precio"> {{ producto.precio }} €</p>            
    </div>

    <h2> Comentarios </h2>
    {% if (producto.comentarios) %}
    <table width="100%">
        {% for comentario in producto.comentarios %}
        <tr>
            <td width="20%">{{comentario.usuario}}</td>
            <td width="60%">{{comentario.comentario}}</td>
            <td width="20%">
                <form style="display:inline" action="/productos/comentarios/{{ producto.id }}/{{ comentario.id }}" method="post">
                    <input type="hidden" name="_method" value="delete" />
                    <button type="submit" class="btn btn-danger">Borrar</button>
                </form>
            </td>
        <tr>
        {% endfor %}
    </table>
    {% endif %}

{% endblock %}