{% extends "admin_base.njk" %}

{% block titulo %}Productos | Listado{% endblock %}

{% block contenido %}

    <h1>Listado de productos</h1>

    <table width="100%">
        {% for producto in productos %}
            <tr>
                {% if loop.index % 2 == 0 %}
                    <td class="par">{{ producto.nombre }}</td>
                {% else %}
                    <td class="impar">{{ producto.nombre }}</td>
                {% endif %}
                <td>
                    <a class="btn btn-success" href="/productos/{{ producto.id }}">Ver ficha</a>
                    <form style="display:inline" action="/productos/{{ producto.id }}" method="post">
                        <input type="hidden" name="_method" value="delete" />
                        <button type="submit" class="btn btn-danger">Borrar</button>
                    </form>
                    <a class="btn btn-primary" href="/productos/editar/{{ producto.id }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr><td>No hay productos que mostrar.</td></tr>
        {% endfor %}
    </table>

{% endblock %}