{% extends "admin_base.njk" %}

{% block titulo %} Error {% endblock %}

{% block contenido %}
    {% if (error) %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% else %}
        <div class="alert alert-danger">
            Error en la aplicación
        </div>
    {% endif %}
{% endblock %}