<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/bootstrap.min.css" />        
        <link rel="stylesheet" href="/public/css/styles.css" />
        <title>{%block titulo%} {% endblock %} </title>
    </head>
    <body>
        {% include "admin_menu.njk" %}
        <div class="container">
            {% block contenido %} 
            
            {% endblock %}
        </div>       
    </body>
</html>