{% extends "publico_base.njk" %}

{% block titulo %} Buscar producto {% endblock %}

{% block contenido %}
    <form action="/buscar" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="textoBusquedaProd"
            placeholder="Buscador de productos" />
        </div>
        <button type="submit" class="btn btn-primary">
            Buscar
        </button>
    </form>

    {% if (productos) %}
        <ul>
            {% for producto in productos %}
            <li><a href="/producto/{{ producto.id }}">{{ producto.nombre }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

