<div class="alert alert-secondary">
    <a class="btn btn-dark" href="/productos">Inicio</a>
    &nbsp;&nbsp;
    <a class="btn btn-dark" href="/productos/nuevo">Nuevo producto</a>
    {% if (session and session.usuario) %}
        <a class="btn btn-dark" href="/usuarios/logout">Logout</a>
    {% else %}
        <a class="btn btn-dark" href="/usuarios/login">Login</a>
    {% endif %}
</div>