{% extends "admin_base.njk" %}

{% block titulo %} Productos | Formulario {% endblock %}
{% block contenido %}

{% if (producto) %}

    <h1>Edición de un producto</h1>

    <form action="/productos/{{ producto.id }}" method="post" enctype="multipart/form-data">
        
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" name="nombre" value="{{ producto.nombre }}"/>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <input type="text" class="form-control" name="descripcion" value="{{ producto.descripcion }}"/>
        </div>
        <div class="form-group">
            <label for="precio">Precio:</label>
            <input type="text" class="form-control" name="precio" value="{{ producto.precio }}"
                placeholder="Precio del producto" />
        </div>
        <div class="form-group">
            <label for="imagen">Imagen:</label>
            <input type="file" class="form-control" name="imagen" />
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>   

{% else %}   

    <h1>Inserción de nuevo producto</h1>

    <form action="/productos" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" name="nombre" 
                placeholder="Nombre del producto" />
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <input type="text" class="form-control" name="descripcion"
                placeholder="Descripción del producto" />
        </div>
        <div class="form-group">
            <label for="precio">Precio:</label>
            <input type="text" class="form-control" name="precio"
                placeholder="Precio del producto" />
        </div>
        <div class="form-group">
            <label for="imagen">Imagen:</label>
            <input type="file" class="form-control" name="imagen"
                placeholder="Ruta relativa de la imagen del producto" />
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>  

{% endif %}
{% endblock %}  

