{% extends "publico_base.njk" %}

{% block titulo %} Productos | Ficha {% endblock %}

{% block contenido %}
    <h1> Ficha de producto</h1>
    <div>
    {% if (producto.imagen) %}
           <p><img src="/public/uploads/{{ producto.imagen }}" width="30%" /></p>
    {% endif %}
        <p><strong>Nombre:</strong> {{ producto.nombre }}</p>
        <p><strong>Descripción:</strong> {{ producto.descripcion }}</p>
        <p><strong>Precio:</strong> {{ producto.precio }}</p>            
    </div>
    
    <h2>Añadir comentario</h2>
    <form action="/comentar/{{producto.id}}" method="post">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" name="nombre" placeholder="Introduce tu nombre"/>
        </div>
        <div class="form-group">
            <label for="comentario">Comentario:</label>
            <input type="textarea" class="form-control" name="comentario" placeholder="Introduce un comentario sobre el prodcuto"/>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

    {% if (producto.comentarios) %}
        {% for comentario in producto.comentarios %}
            <p>{{comentario.usuario}}</p>
            <p>{{comentario.comentario}}</p>
        {% endfor %}
    {% endif %}

{% endblock %}