<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/bootstrap.min.css" />        
        <link rel="stylesheet" href="/css/styles.css" />
        <title>{%block titulo%} {% endblock %} </title>
    </head>
    <body>
        <div class="alert alert-secondary">
            <a href="/">Inicio</a>
            &nbsp;&nbsp;
            <a href="/productos">Administración</a>
        </div>
        <div class="container">
            {% block contenido %} 
            
            {% endblock %}
        </div>       
    </body>
</html>